COMPOSE_PROJECT_NAME=tavern-awareness-showroom
APP_REVISION={{ awareness_showroom_repo_version }}
SHOWROOM_BIND_HOST={{ awareness_showroom_bind_host }}
SHOWROOM_HOST_PORT={{ awareness_showroom_host_port }}
AWARENESS_GATEWAY_DATA_DIR={{ awareness_showroom_gateway_data_dir }}
AWARENESS_STATE_DIR={{ awareness_showroom_state_dir }}
AWARENESS_SHOWROOM_COVER_DIR={{ awareness_showroom_cover_dir }}
AWARENESS_BACKUP_DIR={{ awareness_showroom_backup_dir }}
LOCAL_LLM_NETWORK={{ awareness_showroom_local_llm_network }}

APP_ENV=production
APP_HOST=0.0.0.0
APP_PORT={{ awareness_showroom_gateway_port }}
SCENARIO_TYPE=training
CAMPAIGN_ID=awareness-showroom
DATABASE_URL={{ awareness_showroom_gateway_database_url }}
WORLD_STATE_PATH=/state/current.json
PARTY_STATE_ROOT=/state/parties
STATE_SCHEMA_PATH=/app/state-schema.json
WORLD_PACKS_PATH=/worldpacks
SHOWROOM_CATALOG_PATH=/app/configs/showroom/scenarios.json

LLM_PROVIDER={{ awareness_showroom_llm_provider }}
LLM_API_BASE={{ awareness_showroom_openrouter_api_base }}
LLM_API_KEY={{ awareness_showroom_openrouter_api_key }}
LLM_FALLBACK_MODELS={{ awareness_showroom_openrouter_fallback_models | join(',') }}
LLM_DISABLED_MODELS=
GEMINI_API_BASE={{ awareness_showroom_gemini_api_base }}
GEMINI_API_KEY={{ awareness_showroom_gemini_api_key }}
GEMINI_MODELS={{ awareness_showroom_gemini_models | join(',') }}
GEMINI_MODEL_CATALOG_LIVE={{ awareness_showroom_gemini_model_catalog_live | bool | ternary('true', 'false') }}
OPENROUTER_API_BASE={{ awareness_showroom_openrouter_api_base }}
OPENROUTER_API_KEY={{ awareness_showroom_openrouter_api_key }}
SERVICE_OPENROUTER_API_KEY={{ awareness_showroom_service_openrouter_api_key }}
OPENROUTER_MODELS={{ awareness_showroom_openrouter_models | join(',') }}
OPENROUTER_FALLBACK_MODELS={{ awareness_showroom_openrouter_fallback_models | join(',') }}
OPENROUTER_MODEL_CATALOG_LIVE={{ awareness_showroom_openrouter_model_catalog_live | bool | ternary('true', 'false') }}
PROVIDER_MODEL_CATALOG_TTL_SECONDS={{ awareness_showroom_provider_model_catalog_ttl_seconds }}
LOCAL_LLM_ENABLED={{ awareness_showroom_local_llm_enabled | bool | ternary('true', 'false') }}
LOCAL_LLM_BASE_URL={{ awareness_showroom_local_llm_base_url }}
LOCAL_LLM_MODEL_ALIAS={{ awareness_showroom_local_llm_model_alias }}
LOCAL_LLM_CONTEXT_TOKENS={{ awareness_showroom_local_llm_context_tokens }}
LOCAL_LLM_TIMEOUT_SECONDS={{ awareness_showroom_local_llm_timeout_seconds }}

NARRATIVE_MODEL={{ awareness_showroom_narrative_model }}
INTENT_MODEL={{ awareness_showroom_intent_model }}
VALIDATOR_MODEL={{ awareness_showroom_validator_model }}
SERVICE_MODEL_CHOICE={{ awareness_showroom_service_model_choice }}
LOG_LEVEL={{ awareness_showroom_gateway_log_level }}
LOG_PROMPTS={{ awareness_showroom_gateway_log_prompts }}
MAX_REPAIR_ATTEMPTS={{ awareness_showroom_gateway_max_repair_attempts }}
TRAINING_REPAIR_ATTEMPTS={{ awareness_showroom_gateway_training_repair_attempts }}
REQUEST_TIMEOUT_SECONDS={{ awareness_showroom_gateway_request_timeout_seconds }}
MODEL_ATTEMPT_TIMEOUT_SECONDS={{ awareness_showroom_gateway_model_attempt_timeout_seconds }}
PARTY_START_MODEL_ATTEMPT_TIMEOUT_SECONDS={{ awareness_showroom_gateway_party_start_model_attempt_timeout_seconds }}
RATE_LIMIT_RETRY_ATTEMPTS={{ awareness_showroom_rate_limit_retry_attempts }}
RATE_LIMIT_RETRY_DEFAULT_WAIT_SECONDS={{ awareness_showroom_rate_limit_retry_default_wait_seconds }}
RATE_LIMIT_RETRY_MAX_WAIT_SECONDS={{ awareness_showroom_rate_limit_retry_max_wait_seconds }}
SERVICE_CALL_LOG_RETENTION_DAYS={{ awareness_showroom_gateway_service_call_log_retention_days }}
POST_TURN_HELPERS_INLINE={{ awareness_showroom_post_turn_helpers_inline | bool | ternary('true', 'false') }}

GATEWAY_AUTH_ENABLED={{ awareness_showroom_gateway_auth_enabled | bool | ternary('true', 'false') }}
GATEWAY_BOOTSTRAP_ADMIN_USERNAME={{ awareness_showroom_gateway_bootstrap_admin_username }}
GATEWAY_BOOTSTRAP_ADMIN_PASSWORD={{ awareness_showroom_gateway_bootstrap_admin_password }}
GATEWAY_SESSION_TTL_SECONDS={{ awareness_showroom_gateway_session_ttl_seconds }}
GATEWAY_SESSION_COOKIE_NAME={{ awareness_showroom_gateway_session_cookie_name }}
GATEWAY_COOKIE_SECURE={{ awareness_showroom_gateway_cookie_secure | bool | ternary('true', 'false') }}
SHOWROOM_VISITOR_COOKIE_NAME={{ awareness_showroom_visitor_cookie_name }}
SHOWROOM_VISITOR_TTL_SECONDS={{ awareness_showroom_visitor_ttl_seconds }}
SHOWROOM_COVER_DIR=/data/showroom-covers
SHOWROOM_COVER_MAX_BYTES={{ awareness_showroom_cover_max_bytes }}
