NVIDIA_API_BASE={{ rp_stack_nvidia_api_base }}
NVIDIA_MODEL={{ rp_stack_nvidia_model }}
NVIDIA_API_KEY=

SILLYTAVERN_LISTEN=true
SILLYTAVERN_PORT=8000
SILLYTAVERN_WHITELISTMODE=true
SILLYTAVERN_WHITELIST=["127.0.0.1","::1","192.168.0.0/16"]
SILLYTAVERN_BASICAUTHMODE=true
SILLYTAVERN_BASICAUTHUSER_USERNAME={{ rp_stack_sillytavern_basic_auth_user }}
SILLYTAVERN_BASICAUTHUSER_PASSWORD=
