SILLYTAVERN_LISTEN=true
SILLYTAVERN_PORT=8000
SILLYTAVERN_PROTOCOL_IPV4=true
SILLYTAVERN_PROTOCOL_IPV6=false
SILLYTAVERN_WHITELISTMODE=true
SILLYTAVERN_WHITELIST={{ rp_stack_sillytavern_whitelist | to_json }}
SILLYTAVERN_WHITELISTDOCKERHOSTS=true
SILLYTAVERN_BASICAUTHMODE=true
SILLYTAVERN_BASICAUTHUSER_USERNAME={{ rp_stack_sillytavern_basic_auth_user }}
SILLYTAVERN_BASICAUTHUSER_PASSWORD={{ rp_stack_sillytavern_basic_auth_password }}
SILLYTAVERN_HEARTBEATINTERVAL=30
SILLYTAVERN_LOGGING_MINLOGLEVEL=1
