NODE_ENV=production
PORT={{ task_reminder_container_port }}
DATA_FILE=/data/tasks.json
ADMIN_PASSWORD={{ task_reminder_admin_password }}
SESSION_SECRET={{ task_reminder_session_secret }}
GITHUB_TASKS_URL={{ task_reminder_github_tasks_url }}
GITHUB_SYNC_INTERVAL_SECONDS={{ task_reminder_github_sync_interval_seconds }}
