TOVAR_AI_LLM_PROVIDER={{ tovar_ai_llm_provider }}
TOVAR_AI_LLM_BASE_URL={{ tovar_ai_llm_base_url }}
TOVAR_AI_LLM_MODEL={{ tovar_ai_llm_model }}
TOVAR_AI_LLM_API_KEY={{ tovar_ai_llm_api_key }}
TOVAR_AI_LLM_TIMEOUT_SECONDS={{ tovar_ai_llm_timeout_seconds }}
TOVAR_AI_LLM_MAX_OUTPUT_TOKENS={{ tovar_ai_llm_max_output_tokens }}
TOVAR_AI_OPENROUTER_SITE_URL={{ tovar_ai_openrouter_site_url }}
TOVAR_AI_OPENROUTER_APP_NAME={{ tovar_ai_openrouter_app_name }}

