TOVAR_AI_LLM_PROVIDER={{ tovar_ai_llm_provider }}
TOVAR_AI_LLM_BASE_URL={{ tovar_ai_llm_base_url }}
TOVAR_AI_LLM_MODEL={{ tovar_ai_llm_model }}
TOVAR_AI_LLM_API_KEY={{ tovar_ai_llm_api_key }}
TOVAR_AI_LLM_TIMEOUT_SECONDS={{ tovar_ai_llm_timeout_seconds }}
TOVAR_AI_LLM_MAX_OUTPUT_TOKENS={{ tovar_ai_llm_max_output_tokens }}
TOVAR_AI_OPENROUTER_SITE_URL={{ tovar_ai_openrouter_site_url }}
TOVAR_AI_OPENROUTER_APP_NAME={{ tovar_ai_openrouter_app_name }}
TOVAR_AI_BROWSER_EXTRACTION_ENABLED={{ tovar_ai_browser_extraction_enabled | bool | ternary('true', 'false') }}
TOVAR_AI_BROWSER_TIMEOUT_MS={{ tovar_ai_browser_timeout_ms }}
TOVAR_AI_BROWSER_MAX_EXCERPT_CHARS={{ tovar_ai_browser_max_excerpt_chars }}
TOVAR_AI_BROWSER_CONCURRENCY={{ tovar_ai_browser_concurrency }}
TOVAR_AI_EXTRACTION_PROVIDER_ORDER={{ tovar_ai_extraction_provider_order }}
TOVAR_AI_EXTRACTION_FALLBACK_MIN_TEXT_CHARS={{ tovar_ai_extraction_fallback_min_text_chars }}
TOVAR_AI_EXTERNAL_BROWSER_API_URL={{ tovar_ai_external_browser_api_url }}
TOVAR_AI_EXTERNAL_BROWSER_API_KEY={{ tovar_ai_external_browser_api_key }}
TOVAR_AI_EXTERNAL_BROWSER_TIMEOUT_SECONDS={{ tovar_ai_external_browser_timeout_seconds }}
