APP_REVISION={{ use_framework_repo_version }}
USE_FRAMEWORK_BIND_HOST={{ use_framework_bind_host }}
USE_FRAMEWORK_HOST_PORT={{ use_framework_host_port }}
USE_FRAMEWORK_DATA_DIR={{ use_framework_data_dir }}
USE_FRAMEWORK_BACKUP_DIR={{ use_framework_backup_dir }}
