APP_REVISION={{ use_framework_repo_version }}
USE_FRAMEWORK_BIND_HOST=127.0.0.1
USE_FRAMEWORK_HOST_PORT=8765
USE_FRAMEWORK_DATA_DIR=/srv/app-data/use-framework
USE_FRAMEWORK_BACKUP_DIR=/srv/backups/use-framework
